<app-navbar></app-navbar>
<div class="d-flex flex-row mt-5 w-75 position-absolute top-25 start-50 translate-middle" style="background-color: #C4C4C4;">
    <div>
        hola
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Sucursal" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Fecha inicio" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Fecha fin" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="PromocionID" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Descripcion" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm m-2 h-25">
        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Tipo" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="m-2 h-25" style="font-size: 12px;">
        <label>Se obtuvieron</label>
    </div>
</div>

<div class="container w-75" style="font-size: 12px; margin-top: 75px; background-color: yellow;" >         
    <table class="table table-bordered e-3" style="background-color: green;">
      <thead style="color: white;">
        <tr>
          <th style="background-color: #654796;" class="sticky-top">Sucursal</th>
          <th style="background-color: #654796;" class="sticky-top">PromocionID</th>
          <th style="background-color: #DC291E;">TipoPromoId</th>
          <th style="background-color: #DC291E;">SegmentoID</th>
          <th style="background-color: #DC291E;">DscPromocion</th>
          <th style="background-color: #DC291E;">FchInicioPromo</th>
          <th style="background-color: #DC291E;">FchFinPromo</th>
          <th style="background-color: #DC291E;">FchUpdate</th>
          <th style="background-color: #DC291E;">HoraInicial</th>
          <th style="background-color: #DC291E;">HoraFinal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>July</td>
          </tr>
      </tbody>
    </table>

    <div class="d-flex flex-row mt-3 w-75 position-absolute top-25 start-50 translate-middle" style="background-color: #C4C4C4;">
        <div>
            hola
        </div>
        <div class="input-group input-group-sm m-2 h-25">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Sucursal" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>