<nav class="navbar navbar-expand-lg" style="font-weight: 600; background-color: #C4C4C4; height: 50px;">
    <div class="container-fluid h-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="font-size: 15px;" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Consultar promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Crear promocion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Graficos</a>
          </li>
          
        </ul>
        <form class="d-flex" role="sign-out">
          <label>Valeria Rujana</label>
          <button type="submit"></button>
        </form>
      </div>
    </div>
  </nav>
