<nav class="navbar navbar-expand-lg" style="font-weight: 600; background-color: #C4C4C4; height: 50px;">
    <div class="container-fluid h-2">
      <div class="card" style="width: 100px; border: none;">
        <img  class="img-thumbnail" style="border: none;background-color: #C4C4C4; height: 50px;" src="../../../assets/GAMA.png">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="font-size: 15px;" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Consultar promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Crear promoción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gráficos</a>
          </li>
          
        </ul>
        <form class="d-flex" role="sign-out">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <label>Valeria Rujana</label>
        </form>
      </div>
    </div>
  </nav>
