<app-logo></app-logo>

<!--Title-->
<div class="text-center fs-4 mt-2 pt-2">
    <label style="font-weight: 600;">Herramienta Gestión Mercadeo</label>
</div>

<!--SVG Wave-->
<div class="w-100">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="url(#lgrad)" fill-opacity="1" d="M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,261.3C672,256,768,224,864,192C960,160,1056,128,1152,133.3C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
    <defs>
      <linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" >
        <stop offset="0%" style="stop-color:rgb(101,71,150);stop-opacity:1.00" />
        <stop offset="50%" style="stop-color:rgb(160,56,90);stop-opacity:0.80" />
        <stop offset="100%" style="stop-color:rgb(220,41,30);stop-opacity:1.00" />
   
       </linearGradient>
     </defs>
  </svg>
</div>

<!--<section class="h-25" style="background-color: yellow;">
    <div class="container p-4" style="background-color: green;">
     <div class="row d-flex justify-content-center align-items-center" style="background-color: red;">
       <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center" style="background-color: white;">
         <div class="card shadow-2-strong h-25" style="border-radius: 12px;background-color: #DCDCDC; height: 100px;">
            <div class="card-body p-4 text-left">
              <h4 class="mb-3 text-center fs-5">Inicie sesion</h4>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Usuario</label>
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Contraseña</label>
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              </div>
              <button class="btn btn-danger w-100" type="submit" style="background-color: #DC291E; height: 49px">Ingresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->

