<div class="text-center fs-4 mt-4" style="background-color: red;">
    <label style="font-weight: 600;">Herramienta Gestión Mercadeo</label>
</div>
<form class="position-absolute top-50 start-50 translate-middle w-25 p-4" style="background-color: #DCDCDC; border-radius: 20px;">
    <div class="mt-1">
        <label for="email">Usuario:</label>
        <input type="email" class="form-control" id="email"  style="height: 49px;">
    </div>
    <div class="mt-3">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" style="height: 49px;">
    </div>
    <div class="mt-4 w-100" style="height: 49px;">
        <button type="submit" class="btn btn-danger w-100" style="background-color: #DC291E; height: 49px">Iniciar sesión</button>
    </div>
</form>
