<app-logo></app-logo>

<div>
  <!--Title-->
  <div class="text-center fs-4 mt-0 pt-0 mb-2">
    <label style="font-weight: 600;">Herramienta Gestión Mercadeo</label>
  </div>

  <!--Log in Form-->
  <div class="container mt-3">
  <div class="row d-flex justify-content-center align items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center">
      <div class="card shadow-2-strong h-100 w-75" style="background-color: #DCDCDC">
        <div class="card-body p-4 text-left">
          <h4 class="mb-2 text-center" style="font-size: 20px; font-weight: 500px;">Inicie sesion</h4>
          <div class="form-outline mb-3 h-25">
            <label class="form-label" for="typeEmailX-2" style="font-size: 15px;">Usuario</label>
            <input type="email" id="typeEmailX-2" class="form-control form-control " />
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="typePasswordX-2" style="font-size: 15px;">Contraseña</label>
            <input type="password" id="typePasswordX-2" class="form-control form-control" />
          </div>
          <button class="btn btn-danger w-100 mt-2" type="submit" style="background-color: #DC291E; height: 39px">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<!--Wave background-->
<div class="card w-100 rounded-0" style=" border: none; border-radius: 0px; left: 0%; bottom: 0%; position: fixed;">
  <app-footer></app-footer>
  <img  class="img-thumbnail p-0 rounded-0" style="border: none; height: 100px;" src="../../../assets/svg.png">
</div>

